.tabledata {
    margin-top: 10px;
}

.status1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #1F7018;
}

.status2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #2156A7;
}